#MacOS
.DS_Store

#API
Backend-API/Packages
Backend-API/.build
Backend-API/xcuserdata
Backend-API/*.xcodeproj
Backend-API/DerivedData/
Backend-API/.DS_Store
Backend-API/db.sqlite
Backend-API/.swiftpm

Backend-API/.dockerignore
Backend-API/Dockerfile
Backend-API/Package.resolved
Backend-API/Tests/AppTests/AppTests.swift
Backend-API/docker-compose.yml

#Frontend-Admin-App
Frontend-Admin-App/Frontend-Admin-App.xcodeproj
Frontend-Admin-App/.DS_Store
Frontend-Admin-App/Frontend-Admin-App/Assets.xcassets/
Frontend-Admin-App/Frontend-Admin-App/PreviewContent/

