#MacOS
.DS_Store

#API
Backend-API/Packages
Backend-API/.build
Backend-API/xcuserdata
Backend-API/*.xcodeproj
Backend-API/DerivedData/
Backend-API/.DS_Store
Backend-API/db.sqlite
Backend-API/.swiftpm

Backend-API/.dockerignore
Backend-API/Dockerfile
Backend-API/Package.resolved
Backend-API/Tests/AppTests/AppTests.swift
Backend-API/docker-compose.yml
